
.flex{
display: flex;
justify-content: center;
}
.tiktok{
margin-right: 10px;
}
.instagram{
margin-left: 10px;
}
.social-icon{
width: 20px;
height: auto;
}
.social-icon:hover{
    cursor: pointer;
transform: scale(1.2);
transition: all 0.2s;
}