.cuadros{
height: auto;
width: 100%;
}
.pt1{
    font-size: 4.9vw;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #333;
    width: 100%;
}
.pt2{
    font-size: 5.9vw;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #333;
    width: 100%;
}
.mesa{
width: 200px;
height: auto;
position: absolute;
float: left;
top: -20px;
}
.btn-comprar{
position: relative;
top: -70px;
margin: 0 auto;
}
.text-cuadro{
    font-size: 12pt;
}